<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Silence initial setup logging from Logback -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%-30(%yellow(%d{ISO8601}) %blue(%-25.25thread)) %highlight(%-5level) %cyan(%-25.25logger{5}) - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>1024</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT"/>
  </appender>
  <logger name="com.cplier" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="ASYNC"/>
  </root>

</configuration>

